{{ define "main" }}

<div class="container">
    <section class="hero has-background-light">
        <div class="hero-body">
            <p class="title blink">
                <i>silence</i>
            </p>
            <p class="subtitle pt-3">
                Hypha is an <b>unfinished</b> project.
            </p>
        </div>
    </section>
</div>

<section>
    <div class="container is-size-5">
        <div class="has-background-light">
            <p class="p-6">We're a collective.</p>

            <p class="p-6">We're still writing our <b><a href="{{ "/story/" | safeHTML }}">story</a></b>.</p>

            <p class="p-6">Watching <b><a href="{{ "/movies/" | safeHTML }}">movies</a></b>, discussing the relationship we have with technology.</p>

            <p class="p-6">We plan to organize <b><a href="{{ "/workshops/" | safeHTML }}">workshops</a></b>.</p>

            <p class="p-6">We all want to learn, from each other. And from people who join us.</p>

            <p class="p-6">We reflect on our shared experiences of being in online spaces.</p>

            <p class="p-6">We debate Mastodon together, and reflect on whether it serves our needs. Whether it can keep us safe. How we can create and foster community there.</p>
        </div>
    </div>
</section>


{{ end }}